In [17]:
# Configures matplotlib
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

# Allows for interactive shell - outputs all non variable statements
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Common imports
import numpy as np
import numpy.random as rnd
import os

# to make this notebook's output stable across runs
rnd.seed(42)

# To plot pretty figures
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
plt.rcParams['axes.labelsize'] = 14
plt.rcParams['xtick.labelsize'] = 12
plt.rcParams['ytick.labelsize'] = 12

# Where to save the figures
PROJECT_ROOT_DIR = "."
DATA_DIR = './handson-ml/datasets/lifesat/'
CHAPTER_ID = "fundamentals"

# Frame the problem
# Data
## Get

In [18]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sklearn

oecd_bli = pd.read_csv(DATA_DIR + 'oecd_bli_2015.csv', thousands=',')
gdp_per_capita = pd.read_csv(DATA_DIR + 'gdp_per_capita.csv', thousands=',',
                             delimiter='\t', na_values='n/a', encoding='latin1')

backup = oecd_bli, gdp_per_capita

## Explore

### Column types

In [40]:
oecd_bli = backup[0]
oecd_bli.info()
oecd_bli[oecd_bli['LOCATION'] == "MEX"]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3292 entries, 0 to 3291
Data columns (total 17 columns):
LOCATION                 3292 non-null object
Country                  3292 non-null object
INDICATOR                3292 non-null object
Indicator                3292 non-null object
MEASURE                  3292 non-null object
Measure                  3292 non-null object
INEQUALITY               3292 non-null object
Inequality               3292 non-null object
Unit Code                3292 non-null object
Unit                     3292 non-null object
PowerCode Code           3292 non-null int64
PowerCode                3292 non-null object
Reference Period Code    0 non-null float64
Reference Period         0 non-null float64
Value                    3292 non-null float64
Flag Codes               1120 non-null object
Flags                    1120 non-null object
dtypes: float64(3), int64(1), object(13)
memory usage: 437.3+ KB

,LOCATION,Country,INDICATOR,Indicator,MEASURE,Measure,INEQUALITY,Inequality,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
17,MEX,Mexico,HO_BASE,Dwellings without basic facilities,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,4.200000,NaN,NaN
54,MEX,Mexico,HO_BASE,Dwellings without basic facilities,L,Value,MN,Men,PC,Percentage,0,units,NaN,NaN,4.200000,E,Estimated value
90,MEX,Mexico,HO_BASE,Dwellings without basic facilities,L,Value,WMN,Women,PC,Percentage,0,units,NaN,NaN,4.200000,E,Estimated value
126,MEX,Mexico,HO_HISH,Housing expenditure,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,21.000000,NaN,NaN
163,MEX,Mexico,HO_HISH,Housing expenditure,L,Value,MN,Men,PC,Percentage,0,units,NaN,NaN,21.000000,E,Estimated value
199,MEX,Mexico,HO_HISH,Housing expenditure,L,Value,WMN,Women,PC,Percentage,0,units,NaN,NaN,21.000000,E,Estimated value
235,MEX,Mexico,HO_NUMR,Rooms per person,L,Value,TOT,Total,RATIO,Ratio,0,units,NaN,NaN,1.000000,NaN,NaN
272,MEX,Mexico,HO_NUMR,Rooms per person,L,Value,MN,Men,RATIO,Ratio,0,units,NaN,NaN,1.000000,E,Estimated value
308,MEX,Mexico,HO_NUMR,Rooms per person,L,Value,WMN,Women,RATIO,Ratio,0,units,NaN,NaN,1.000000,E,Estimated value
344,MEX,Mexico,IW_HADI,Household net adjusted disposable income,L,Value,TOT,Total,USD,US Dollar,0,units,NaN,NaN,13085.000000,NaN,NaN
381,MEX,Mexico,IW_HADI,Household net adjusted disposable income,L,Value,MN,Men,USD,US Dollar,0,units,NaN,NaN,13085.000000,E,Estimated value
417,MEX,Mexico,IW_HADI,Household net adjusted disposable income,L,Value,WMN,Women,USD,US Dollar,0,units,NaN,NaN,13085.000000,E,Estimated value
453,MEX,Mexico,IW_HADI,Household net adjusted disposable income,L,Value,HGH,High,USD,US Dollar,0,units,NaN,NaN,34624.000000,E,Estimated value
490,MEX,Mexico,IW_HADI,Household net adjusted disposable income,L,Value,LW,Low,USD,US Dollar,0,units,NaN,NaN,2534.000000,E,Estimated value
527,MEX,Mexico,IW_HNFW,Household net financial wealth,L,Value,TOT,Total,USD,US Dollar,0,units,NaN,NaN,9056.000000,E,Estimated value
564,MEX,Mexico,IW_HNFW,Household net financial wealth,L,Value,MN,Men,USD,US Dollar,0,units,NaN,NaN,9056.000000,E,Estimated value
600,MEX,Mexico,IW_HNFW,Household net financial wealth,L,Value,WMN,Women,USD,US Dollar,0,units,NaN,NaN,9056.000000,E,Estimated value
636,MEX,Mexico,JE_EMPL,Employment rate,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,61.000000,NaN,NaN
673,MEX,Mexico,JE_EMPL,Employment rate,L,Value,MN,Men,PC,Percentage,0,units,NaN,NaN,78.000000,NaN,NaN
710,MEX,Mexico,JE_EMPL,Employment rate,L,Value,WMN,Women,PC,Percentage,0,units,NaN,NaN,45.000000,NaN,NaN
747,MEX,Mexico,JE_EMPL,Employment rate,L,Value,HGH,High,PC,Percentage,0,units,NaN,NaN,71.000000,E,Estimated value
784,MEX,Mexico,JE_EMPL,Employment rate,L,Value,LW,Low,PC,Percentage,0,units,NaN,NaN,59.000000,E,Estimated value
821,MEX,Mexico,JE_JT,Job security,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,4.900000,NaN,NaN
858,MEX,Mexico,JE_JT,Job security,L,Value,MN,Men,PC,Percentage,0,units,NaN,NaN,4.900000,NaN,NaN
895,MEX,Mexico,JE_JT,Job security,L,Value,WMN,Women,PC,Percentage,0,units,NaN,NaN,4.800000,NaN,NaN
932,MEX,Mexico,JE_LTUR,Long-term unemployment rate,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,0.080000,NaN,NaN
969,MEX,Mexico,JE_LTUR,Long-term unemployment rate,L,Value,MN,Men,PC,Percentage,0,units,NaN,NaN,0.070000,NaN,NaN
1006,MEX,Mexico,JE_LTUR,Long-term unemployment rate,L,Value,WMN,Women,PC,Percentage,0,units,NaN,NaN,0.086765,NaN,NaN
1043,MEX,Mexico,JE_LTUR,Long-term unemployment rate,L,Value,HGH,High,PC,Percentage,0,units,NaN,NaN,0.090000,E,Estimated value
1080,MEX,Mexico,JE_LTUR,Long-term unemployment rate,L,Value,LW,Low,PC,Percentage,0,units,NaN,NaN,0.070000,E,Estimated value
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2205,MEX,Mexico,CG_VOTO,Voter turnout,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,63.000000,NaN,NaN
2242,MEX,Mexico,CG_VOTO,Voter turnout,L,Value,MN,Men,PC,Percentage,0,units,NaN,NaN,65.000000,E,Estimated value
2279,MEX,Mexico,CG_VOTO,Voter turnout,L,Value,WMN,Women,PC,Percentage,0,units,NaN,NaN,61.000000,E,Estimated value
2316,MEX,Mexico,CG_VOTO,Voter turnout,L,Value,HGH,High,PC,Percentage,0,units,NaN,NaN,63.000000,E,Estimated value
2353,MEX,Mexico,CG_VOTO,Voter turnout,L,Value,LW,Low,PC,Percentage,0,units,NaN,NaN,61.000000,E,Estimated value
2390,MEX,Mexico,HS_LEB,Life expectancy,L,Value,TOT,Total,YR,Years,0,units,NaN,NaN,74.600000,NaN,NaN
2427,MEX,Mexico,HS_LEB,Life expectancy,L,Value,MN,Men,YR,Years,0,units,NaN,NaN,71.700000,NaN,NaN
2464,MEX,Mexico,HS_LEB,Life expectancy,L,Value,WMN,Women,YR,Years,0,units,NaN,NaN,77.400000,NaN,NaN
2501,MEX,Mexico,HS_SFRH,Self-reported health,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,66.000000,NaN,NaN
2538,MEX,Mexico,HS_SFRH,Self-reported health,L,Value,MN,Men,PC,Percentage,0,units,NaN,NaN,67.000000,NaN,NaN
2575,MEX,Mexico,HS_SFRH,Self-reported health,L,Value,WMN,Women,PC,Percentage,0,units,NaN,NaN,64.000000,NaN,NaN
2612,MEX,Mexico,HS_SFRH,Self-reported health,L,Value,HGH,High,PC,Percentage,0,units,NaN,NaN,79.000000,E,Estimated value
2649,MEX,Mexico,HS_SFRH,Self-reported health,L,Value,LW,Low,PC,Percentage,0,units,NaN,NaN,58.000000,E,Estimated value
2686,MEX,Mexico,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,units,NaN,NaN,6.700000,NaN,NaN
2723,MEX,Mexico,SW_LIFS,Life satisfaction,L,Value,MN,Men,AVSCORE,Average score,0,units,NaN,NaN,6.600000,NaN,NaN
2760,MEX,Mexico,SW_LIFS,Life satisfaction,L,Value,WMN,Women,AVSCORE,Average score,0,units,NaN,NaN,6.800000,NaN,NaN
2797,MEX,Mexico,SW_LIFS,Life satisfaction,L,Value,HGH,High,AVSCORE,Average score,0,units,NaN,NaN,7.700000,NaN,NaN
2831,MEX,Mexico,SW_LIFS,Life satisfaction,L,Value,LW,Low,AVSCORE,Average score,0,units,NaN,NaN,6.100000,NaN,NaN
2865,MEX,Mexico,PS_SFRV,Assault rate,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,12.800000,NaN,NaN
2902,MEX,Mexico,PS_SFRV,Assault rate,L,Value,MN,Men,PC,Percentage,0,units,NaN,NaN,13.500000,NaN,NaN
2939,MEX,Mexico,PS_SFRV,Assault rate,L,Value,WMN,Women,PC,Percentage,0,units,NaN,NaN,12.100000,NaN,NaN
2976,MEX,Mexico,PS_REPH,Homicide rate,L,Value,TOT,Total,RATIO,Ratio,0,units,NaN,NaN,23.400000,NaN,NaN
3013,MEX,Mexico,PS_REPH,Homicide rate,L,Value,MN,Men,RATIO,Ratio,0,units,NaN,NaN,44.500000,NaN,NaN
3050,MEX,Mexico,PS_REPH,Homicide rate,L,Value,WMN,Women,RATIO,Ratio,0,units,NaN,NaN,4.800000,NaN,NaN
3087,MEX,Mexico,WL_EWLH,Employees working very long hours,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,28.830000,NaN,NaN
3124,MEX,Mexico,WL_EWLH,Employees working very long hours,L,Value,MN,Men,PC,Percentage,0,units,NaN,NaN,35.390000,NaN,NaN
3161,MEX,Mexico,WL_EWLH,Employees working very long hours,L,Value,WMN,Women,PC,Percentage,0,units,NaN,NaN,18.170000,NaN,NaN
3198,MEX,Mexico,WL_TNOW,Time devoted to leisure and personal care,L,Value,TOT,Total,HOUR,Hours,0,units,NaN,NaN,13.890000,E,Estimated value
3235,MEX,Mexico,WL_TNOW,Time devoted to leisure and personal care,L,Value,MN,Men,HOUR,Hours,0,units,NaN,NaN,14.080000,E,Estimated value
3272,MEX,Mexico,WL_TNOW,Time devoted to leisure and personal care,L,Value,WMN,Women,HOUR,Hours,0,units,NaN,NaN,13.630000,E,Estimated value

In [47]:
oecd_bli = backup[0]
oecd_bli = oecd_bli[oecd_bli["INEQUALITY"]=="TOT"]
oecd_bli = oecd_bli.pivot(index="Country", columns="Indicator", values="Value")
oecd_bli.head(2)

Indicator,Air pollution,Assault rate,Consultation on rule-making,Dwellings without basic facilities,Educational attainment,Employees working very long hours,Employment rate,Homicide rate,Household net adjusted disposable income,Household net financial wealth,...,Long-term unemployment rate,Personal earnings,Quality of support network,Rooms per person,Self-reported health,Student skills,Time devoted to leisure and personal care,Voter turnout,Water quality,Years in education
Country,,,,,,,,,,,,,,,,,,,,,
Australia,13.0,2.1,10.5,1.1,76.0,14.02,72.0,0.8,31588.0,47657.0,...,1.08,50449.0,92.0,2.3,85.0,512.0,14.41,93.0,91.0,19.4
Austria,27.0,3.4,7.1,1.0,83.0,7.61,72.0,0.4,31173.0,49887.0,...,1.19,45199.0,89.0,1.6,69.0,500.0,14.46,75.0,94.0,17.0

In [48]:
oecd_bli.info()
oecd_bli.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 37 entries, Australia to United States
Data columns (total 24 columns):
Air pollution                                37 non-null float64
Assault rate                                 37 non-null float64
Consultation on rule-making                  37 non-null float64
Dwellings without basic facilities           37 non-null float64
Educational attainment                       37 non-null float64
Employees working very long hours            37 non-null float64
Employment rate                              37 non-null float64
Homicide rate                                37 non-null float64
Household net adjusted disposable income     37 non-null float64
Household net financial wealth               37 non-null float64
Housing expenditure                          37 non-null float64
Job security                                 37 non-null float64
Life expectancy                              37 non-null float64
Life satisfaction                            37 non-null float64
Long-term unemployment rate                  37 non-null float64
Personal earnings                            37 non-null float64
Quality of support network                   37 non-null float64
Rooms per person                             37 non-null float64
Self-reported health                         37 non-null float64
Student skills                               37 non-null float64
Time devoted to leisure and personal care    37 non-null float64
Voter turnout                                37 non-null float64
Water quality                                37 non-null float64
Years in education                           37 non-null float64
dtypes: float64(24)
memory usage: 7.2+ KB

Indicator,Air pollution,Assault rate,Consultation on rule-making,Dwellings without basic facilities,Educational attainment,Employees working very long hours,Employment rate,Homicide rate,Household net adjusted disposable income,Household net financial wealth,...,Long-term unemployment rate,Personal earnings,Quality of support network,Rooms per person,Self-reported health,Student skills,Time devoted to leisure and personal care,Voter turnout,Water quality,Years in education
count,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,...,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000
mean,19.891892,4.045946,7.075676,2.529730,75.351351,9.246486,66.351351,2.862162,24170.000000,40999.027027,...,3.514595,36055.567568,89.594595,1.664865,67.918919,494.135135,14.883784,70.108108,82.648649,17.497297
std,8.085597,2.206253,2.639382,3.698188,16.340502,8.240518,7.487828,5.707274,7177.493074,32296.376490,...,3.836257,12870.738038,5.035758,0.427016,14.180147,29.956600,0.534137,12.008756,10.462144,1.276820
min,9.000000,1.300000,2.000000,0.000000,34.000000,0.160000,49.000000,0.300000,11664.000000,3251.000000,...,0.010000,16193.000000,72.000000,0.900000,30.000000,402.000000,13.420000,49.000000,56.000000,14.400000
25%,15.000000,2.600000,5.100000,0.200000,72.000000,3.660000,61.000000,0.600000,18575.000000,14579.000000,...,1.370000,22655.000000,87.000000,1.400000,65.000000,484.000000,14.610000,62.000000,77.000000,16.400000
50%,18.000000,3.800000,7.100000,0.900000,78.000000,6.980000,67.000000,0.900000,23965.000000,31580.000000,...,1.970000,36118.000000,90.000000,1.700000,69.000000,498.000000,14.950000,69.000000,85.000000,17.600000
75%,24.000000,5.000000,9.000000,3.700000,86.000000,12.510000,72.000000,1.500000,28799.000000,60328.000000,...,3.880000,47590.000000,94.000000,1.900000,76.000000,515.000000,15.110000,78.000000,91.000000,18.400000
max,46.000000,12.800000,11.500000,15.100000,94.000000,40.860000,82.000000,25.500000,41355.000000,145769.000000,...,18.390000,56340.000000,96.000000,2.500000,90.000000,542.000000,16.060000,93.000000,97.000000,19.800000

## Prepare

# Learn
## Short list different models

## Fine tune / combine your models
# Present
# Launch